.header{
    height: 50px;
    background-color: #464775;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.header ul{
    list-style-type: none;
}
.header ul li{
    padding: 5px;
}
.header{
    height: 50px;
    background-color: #464775;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.header ul{
    list-style-type: none;
}
.header ul li{
    padding: 5px;
    display: flex
}