<!-- <app-header></app-header> -->
<!-- <div class="header">

    <ul style="margin-right: 10px;display: flex;" *ngFor="let menu of menuItmes">
        <li [routerLink]="menu.menulink">{{menu.menuname}}</li>
    </ul>
    <ul style="margin-left: auto;margin-right: 10px;">
        <li>Cart {{cartitems.length}}</li>
    </ul>
    
</div> -->
<!-- <div style="display: flex;">
<sidenav></sidenav>
<div> -->
    <!-- <form [formGroup]="loginForm">
userName:<input type="text" formControlName="userName">
<div *ngIf="loginForm.controls.userName.errors && loginForm.controls.userName.touched">
<span style="color: red;" *ngIf="loginForm.controls.userName.errors.required" >User Name is Required </span>
<span style="color: red;" *ngIf="loginForm.controls.userName.errors.min" >Minmun three Characters  is Required </span>
</div>
<br>
Password:<input type="text" formControlName="Password">
Male<input type="radio" value="male" formControlName="gender">
Female<input type="radio" value="female" formControlName="gender">
<select name="cars" id="cars" formControlName="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
<button (click)="formSubmitted()">Submit</button>
    </form> -->
    <!-- <app-mobiles></app-mobiles> -->
<!-- <router-outlet></router-outlet> -->
<!-- <ul class="dropdown">
    <li id="dropdown-label" class="dropdown__label">
      Label
    </li>

    <li
      role="button"
      aria-labelledby="dropdown-label"
      id="dropdown_selected"
      tabindex="0"
    >
      Option 1
    </li>

    <svg
      class="dropdown__arrow"
      width="10"
      height="5"
      viewBox="0 0 10 5"
      fill-rule="evenodd"
    >
      <title>Open drop down</title>
      <path d="M10 0L5 5 0 0z"></path>
    </svg>
    <li aria-expanded="false" role="list" class="dropdown__list-container">
      <ul class="dropdown__list">
        <li class="dropdown__list-item" tabindex="0" id="option-1">
          Option 1
        </li>
        <li class="dropdown__list-item" tabindex="0" id="option-2">
          Option 2
        </li>
        <li class="dropdown__list-item" tabindex="0" id="option-3">
          Option 3
        </li>
        <li class="dropdown__list-item" tabindex="0" id="option-4">
          Option 4
        </li>
      </ul>
    </li>
  </ul> -->
<!-- <div class="card"></div>
 <form [formGroup]="registerForm">
   <input type="text" formControlName="username">
   <input type="text" formControlName="password">
   <button (click)="formSubmitted1()">Submit</button>
 </form>
  <app-table [userdata]="userdata" (editdata)="edit($event)"></app-table> -->
 <!-- <table>
   <tr>
     <td>Firstname</td>
     <td>LastName</td>
     <td>Action</td>
   </tr>
   <tr *ngFor="let user of userdata">
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>
      <button (click)="edit(user)"></button>
    </td>
  </tr>
 </table> -->
<!-- </div>
</div>
<div class="flyout" [ngClass]="{'flyoutopen':openflyout}"></div>
<button (click)="openflyout1()"></button> -->
<div class="d-flex">
<table>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Color</td>
    <td>Image</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let item of cars">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.colour}}</td>
    <td><img [src]="item.picture" style="width: 50px;height: 50px;"></td>
    <td><button (click)="editcars(item)">Edit</button> <button (click)="deletecars(item.id)">Delete</button></td>
  </tr>
</table>
<form action="" [formGroup]="carsForm">
  Name:<input type="text" formControlName="name"><br>
  Price:<input type="text" formControlName="price"><br>
  Color:<input type="text" formControlName="colour"><br>
  Image:<input type="file" formControlName="picture"><br>
  <button (click)="Submit()">Submit</button>
</form>
</div>
